{{yield}}
<form {{action 'signup' on='submit'}}>
  <label for="username">Email</label>
  {{input id='username' placeholder='Enter username' value=username}}
  <label for="password">Password</label>
  {{input id='password' placeholder='Enter Password' type='password' value=password}}
  <button type="submit">Login</button>
</form>
