<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Code Exercise</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated }}
          <li>{{link-to 'Logout' 'logout'}}</li>
        {{else}}
          <li>{{link-to 'Sign up' 'signup'}}</li>
          <li>{{link-to 'Login' 'login'}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<div class="container application">
  <div class="row">
    {{outlet}}
  </div>
</div>
